{# templates/blog/new.html.twig #}

{{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.post, {'label':'Poszt: '} ) }}
        </div>

        <div class="col" id="date-id">
            {{ form_row(form.date, {'label':'Dátum: '} ) }}
        </div>

        <div class="col" id="cat-id">
            {{ form_row(form.categoryid, {'label':'Kategória: '} ) }}
        </div>
    </div>


{{ form_end(form) }}

<a href="/blog">Index</a>
